<form action="<%= post_path(@post) %>" method='get' id='comments_show'>
  <div class='field'>
    <select>
      <option <%= @comment.status == 'published' ? 'selected' : '' %> >Published</option>
      <option <%= @comment.status == 'unpublished' ? 'selected' : '' %> >Unpublished</option>
    </select>
  </div>
  <% @comments.each do |comment| %>
    <h4>Comment by <%= comment.author.full_name %></h4>
    <p>Posted <%= distance_of_time_in_words(comment.created_at, Time.now) %> ago</p>
    <p><%= comment.body %></p>
    <% if comment.status == 'unpublished' %>
      <div class="btn btn-outline-dark">
        <%= link_to 'Publish Comment', publish_post_comment_path(@post.id, comment.id), method: :post %>
      </div>
    <% end %>
    <h4>Edit Comment</h4>
    <div>
      <%= render 'comments/form', comment: comment%>
    </div>
    <div class="btn btn-outline-danger">
      <%= link_to 'Destroy Comment', [comment.post, @comment],
                  method: :delete,
                  data: { confirm: "Are you sure?" } %>
    </div>
  <% end %>
</form>



