<% @comments.each do |comment| %>
  <h4>Comment by <%= comment.author.full_name %></h4>
  <p>Posted <%= distance_of_time_in_words(comment.created_at, Time.now) %> ago</p>
  <p><%= comment.body %></p>
  <% if @comment_status == 'unpublished' %>
    <div class="btn btn-secondary">
      <%= link_to 'Publish Comment', publish_post_comment_path(@post.id, comment.id), method: :post %>
    </div>
  <% end %>
  <h4>Edit Comment:</h4>
  <div>
    <%= render 'comments/form', comment: comment%>
  </div>
  <div class="btn btn-dark">
    <%= link_to 'Destroy Comment', [comment.post, comment],
                method: :delete,
                data: { confirm: "Are you sure?" } %>
  </div>
<% end %>
