<p id="notice"><%= notice %></p>

<h1 align="center"><%= @post.title %></h1>

<p align="center">
  <strong>by:</strong>
    <%= @post.name %>
</p>

<p>
  <img src='<%= @post.image %>' alt="image" class="center"/>
</p>

<br>

<p>
  <h5><%= @post.content %></h5>
</p>

<br>

<time><%= @post.created_at.to_date.strftime("%d %B, %Y") %></time>

<br>
<h6>Views: <%= @post.views_count %></h6>
<br>
<br>

  <%= link_to 'Edit', edit_post_path(@post) %> |
  <%= link_to 'Destroy', @post, method: :delete, data: { confirm: 'Are you sure?' } %> |
  <%= link_to 'Back', posts_path %>
<br>
<br>
<%= render partial: 'comments/form' %>
<br>
<h3>Comments (<%= @post.comments.size %>)</h3>
<form action="<%= post_path(@post) %>" method='get' id='comments_show'>
  <%= render partial: 'posts/comment', collection: @post.comments.reverse %>
</form>

</div>

